# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache
._*

# OS or Editor folders
.DS_Store
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj
nbproject
*.sublime-project
*.sublime-workspace

# Dreamweaver added files
_notes
dwsync.xml

# Komodo
*.komodoproject
.komodotools

# Folders to ignore
.hg
.svn
.CVS
intermediate
.idea
cache

# No need to version control compiled files
css/*.css
js/public.min.js
js/admin.min.js

# Ignore dependencies using package control
js/lib/*
node_modules
# /vendor/
# ignore vendor because of PHP error with new version of composer autoload
bower_modules
